.MonsterDisplayPage-grid {
    font-family: 'Staatliches', cursive;
    width: 80%;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 35px;
  }